section {
  box-shadow: 3px 3px 3px 3px #888;
  width: 30%;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}

.refresh,
.enter,
.move,
.delete {
  display: flex;
  width: 15px;
  height: 15px;
  opacity: 0.5;
  margin-right: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-top: 1px solid rgba(1, 1, 1, 0.3);
  border-bottom: 1px solid rgba(1, 1, 1, 0.3);
  height: 35px;
  width: 100%;
}

.task_input {
  border: none;
  outline: none;
  font-style: italic;
  align-self: center;
  height: 95%;
  width: inherit;
  margin: 2px 2px 2px 2px;
}

.list {
  list-style: none;
  margin-left: 5px;
}

.item {
  display: flex;
  height: 40px;
  border: none;
  border-bottom: 1px solid rgba(1, 1, 1, 0.3);
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.clear {
  border: none;
  width: 100%;
  height: 40px;
}

.check-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 100%;
}

.edit {
  border: none;
  outline: none;
  height: 100%;
  width: inherit;
}

.edit:focus {
  background-color: yellow;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.font {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
